
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="addUser" method="post" action="/addpost">
      <input id="inputTitle" type="text" placeholder="Title" name="title" /> <br>
      <input id="inputAuthor" type="text" placeholder="Author" name="author" /> <br>
      <textarea id="inputContent" type="text" placeholder="Write!" name="content"></textarea> <br>
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>
