#header{
    height: 100px;
}

#header-left{
  float: left;
}

#header-right{
  float: right;
  margin-right: 10px;
}

#wrapper{
    clear: both;
}

.post{
  border: 1px solid red;
  border-radius: 5px;
}

.post-header{

}

.post-title{

}

.post-author{

}

.post-content-wrapper{

}

.post-content{

}
