body{
    background-color: #00274C;
}

#header{
    color: white;
    height: 100px;
}

#logo{
    height: 100px;
    float: left;
}

#header-left{
    height: 100px;
    width: 500px;
    display: inline;
}

#title{
    position: relative;
    bottom: 0;
}

#header-right{
  float: right;
  margin-right: 10px;
  display: inline;
}

#submit-link{
    color: white;
}

#wrapper{
    clear: both;
}

.post{
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-maize{
    background: #FFCB05;
    color: black;
}

.post-blue{
    background: #00274C;
    color: white;
}

.post-header{
    font-style: bold;
}

.post-title{

}

.post-author{
    font-style: italic;
}

.post-content-wrapper{

}

.post-content{

}
